---
layout: default
---

<section class="copyright">
<p>本站文章除注明转载外，均为本站原创或编译.  本文永久地址: <a href="{{site.url}}{{page.url}}" title="{{page.title}}" rel="nofollow">{{site.url}}{{page.url}}</a>.  转载请注明转自 <a href="{{site.url}}">{{site.title}}</a></p>
</section>

<section class="post">
{{ content }}
</section>
<section class="meta">
<span class="author">
  <a href="http://blog.wzgtech.com">{{ site.author }}</a>
</span>
<span class="time">
  /
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
<br />
<span class="license">
  Published under <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">(CC) BY-NC-SA</a>
</span>
{% if page.categories %}
<span class="categories">
  in categories
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags %}
<span class="tags">
  tagged with
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</section>

<section class="paginator">
<div id="previous_next_page">
<span id="previous_page">前一篇:
{% if page.previous %}
<a href="{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
{% else %}
没有了
{% endif %}
</span>

<span id="next_page">后一篇:
{% if page.next %}
<a href="{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a>
{% else %}
没有了
{% endif %}
</span>
</div>
</section>

{% include comments.md %}

<script type="text/javascript">
$(function(){
  $(document).keydown(function(e) {
    if (e.target.nodeName.toUpperCase() != 'BODY') return;
    var url = false;
        if (e.which == 37 || e.which == 74) {  // Left arrow and J
            {% if page.previous %}
        url = '{{ site.url }}{{ page.previous.url }}';
        {% endif %}
        }
        else if (e.which == 39 || e.which == 75) {  // Right arrow and K
            {% if page.next %}
        url = '{{ site.url }}{{ page.next.url }}';
        {% endif %}
        }
        if (url) {
            window.location = url;
        }
  });
})
</script>

